<%= form_for(@notas_tecnica) do |f| %>
  <% if @notas_tecnica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notas_tecnica.errors.count, "error") %> prohibited this notas_tecnica from being saved:</h2>

      <ul>
      <% @notas_tecnica.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :exit %><br>
    <%= f.text_field :exit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
