<p id="notice"><%= notice %></p>

<p>
  <strong>Prot doc:</strong>
  <%= @entrante.prot_doc %>
</p>

<p>
  <strong>Dt prot doc:</strong>
  <%= @entrante.dt_prot_doc %>
</p>

<p>
  <strong>Area:</strong>
  <%= @entrante.area %>
</p>

<p>
  <strong>Assunto:</strong>
  <%= @entrante.assunto %>
</p>

<p>
  <strong>Procedimento:</strong>
  <%= @entrante.procedimento %>
</p>

<p>
  <strong>Processo principal:</strong>
  <%= @entrante.processo_principal %>
</p>

<p>
  <strong>Dt procedimento:</strong>
  <%= @entrante.dt_procedimento %>
</p>

<%= link_to 'Editar', edit_entrante_path(@entrante) %> |
<%= link_to 'Voltar', entrantes_path %>
