<h1>Listing renomears</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Assunto</th>
      <th>Data</th>
      <th>Cprod</th>
      <th>Sem cprod</th>
      <th>Mais de um processo</th>
      <th>Arquivo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @renomears.each do |renomear| %>
      <tr>
        <td><%= renomear.tipo %></td>
        <td><%= renomear.assunto %></td>
        <td><%= renomear.data %></td>
        <td><%= renomear.cprod %></td>
        <td><%= renomear.sem_cprod %></td>
        <td><%= renomear.mais_de_um_processo %></td>
        <td><%= renomear.arquivo %></td>
        <td><%= link_to 'Show', renomear %></td>
        <td><%= link_to 'Edit', edit_renomear_path(renomear) %></td>
        <td><%= link_to 'Destroy', renomear, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Renomear', new_renomear_path %>
