<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @renomear.tipo %>
</p>

<p>
  <strong>Assunto:</strong>
  <%= @renomear.assunto %>
</p>

<p>
  <strong>Data:</strong>
  <%= @renomear.data %>
</p>

<p>
  <strong>Cprod:</strong>
  <%= @renomear.cprod %>
</p>

<p>
  <strong>Sem cprod:</strong>
  <%= @renomear.sem_cprod %>
</p>

<p>
  <strong>Mais de um processo:</strong>
  <%= @renomear.mais_de_um_processo %>
</p>

<p>
  <strong>Arquivo:</strong>
  <%= @renomear.arquivo %>
</p>

<%= link_to 'Edit', edit_renomear_path(@renomear) %> |
<%= link_to 'Back', renomears_path %>
